<div *ngIf="movie" class="stars">
    <form (change)="gradeChange($event)" id="form_{{movie.id}}">

        <input class="star star-5" id="{{ movie.id }}_star-5" type="radio" value="5" name="star" [checked]="(movie.grade == 5)" /> 
        <label class="star star-5" for="{{ movie.id }}_star-5"></label> 
        <input class="star star-4" id="{{ movie.id }}_star-4" type="radio" value="4" name="star" [checked]="(movie.grade == 4)" /> 
        <label class="star star-4" for="{{ movie.id }}_star-4"></label> 
        <input class="star star-3" id="{{ movie.id }}_star-3" type="radio" value="3" name="star" [checked]="(movie.grade == 3)" /> 
        <label class="star star-3" for="{{ movie.id }}_star-3"></label> 
        <input class="star star-2" id="{{ movie.id }}_star-2" type="radio" value="2" name="star" [checked]="(movie.grade == 2)" /> 
        <label class="star star-2" for="{{ movie.id }}_star-2"></label> 
        <input class="star star-1" id="{{ movie.id }}_star-1" type="radio" value="1" name="star" [checked]="(movie.grade == 1)" /> 
        <label class="star star-1" for="{{ movie.id }}_star-1"></label>
        
    </form>
</div>