<header class="row align-items-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="logo-title text-center">
            <a routerLink="/">MovieApp</a>
        </h1>
    </div>
</header>
