
header {
    background: #fafafa;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-left: 0!important;
    margin-right: 0!important;

    h1.logo-title a {
        color: #000;

        &:hover {
            text-decoration: none;
            color: #3d3d3d;
        }
    }
}