.card {
    width: 20rem;
    margin: 20px;
    box-shadow: 1px 1px 10px 0 #cdcdcd;

    .card-title a {
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}