<div *ngIf="movie" class="card">
    <div class="card-body text-center">
        <h5 class="card-title"><a routerLink="/movie/{{movie.id}}">{{ movie.title }}</a></h5>
        
        <app-star-grade [movie]="movie" (onGradeChange)="changeGrade($event)"></app-star-grade>
    </div>
</div>