
<div *ngIf="movie" class="movie-page">
    <h1>{{movie.title}}</h1>
    <p>Grade: {{movie.grade}}/5</p>
    <app-star-grade [movie]="movie" (onGradeChange)="changeGrade($event)"></app-star-grade>
    <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis gravida eros. Donec egestas interdum lorem, at molestie augue aliquam eget. Quisque bibendum augue sed turpis blandit lacinia. Fusce placerat metus tellus, non semper libero aliquet vel. Fusce tincidunt sodales nunc nec scelerisque. Vivamus eu dignissim est. Aliquam aliquet volutpat dui et scelerisque. Nunc feugiat interdum risus, et mollis libero varius sed. Praesent nunc odio, dignissim ac consectetur non, consectetur nec enim. Praesent sodales tortor eget ligula faucibus congue. Sed mattis dignissim condimentum. Phasellus rutrum nec nulla non commodo. Donec id elit sed odio rhoncus accumsan. Morbi enim sem, efficitur eu pellentesque sed, tempor sit amet nisl. Phasellus suscipit, sapien in posuere dignissim, nunc justo tristique ligula, eget condimentum sapien augue in diam.
        <br><br>
Aliquam nulla sem, dapibus eleifend rutrum eu, porta ut nisl. Phasellus sodales tellus ac purus maximus, id cursus est volutpat. Praesent consequat felis ac venenatis tincidunt. Etiam volutpat ornare massa a euismod. In hac habitasse platea dictumst. Aliquam fermentum a arcu porta condimentum. Cras in magna in nibh lobortis mollis. Sed id placerat est, ultricies elementum nunc. Vestibulum consectetur massa nec erat sodales, a tincidunt elit hendrerit. Praesent facilisis urna non lorem porttitor efficitur. Aenean ultrices turpis nisi.
    </p>
</div>