<div class="filter-container">
    <input class="form-control" type="text" name="inputSearchFilter" [(ngModel)]="searchInput" 
            placeholder="Filter movies" />
</div>

<div *ngIf="movies" class="movies">
    <app-movie-card *ngFor="let movie of movies | searchFilter:searchInput" [movie]="movie"></app-movie-card>
</div>